<footer class="nav navbar-default navbar-bottom">
  <div class="container">
    <div class="row">
      <div class="center-block">
        <%= link_to 'VideoDepot', root_url %> | Maksym Tymoshyk
      </div>
    </div>
</div>
</footer>