<nav class="navbar navbar-default navbar-fixed-top top-menu">
  <div class="container">

    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img alt="Brand" src="/assets/logo.png" class="brand-class">
      </a>
    </div>

    <div class="collapse navbar-collapse ">
      <ul class="nav navbar-nav navbar-right icon-link">
        <li> <%= link_to fa_icon('plus 2x', class: 'fa-fw'), new_film_path %> </li>
        <li> <%= link_to fa_icon('search 2x', class: 'fa-fw'), '/search' %> </li>
        <li> <%= link_to current_user.email, edit_user_registration_path, class: 'user' %> </li>
        <li> <%= link_to fa_icon('sign-out 2x', class: 'fa-fw'), destroy_user_session_path, :method => :delete %> </li>
      </ul>
    </div>

  </div>
</nav>
