<div class="input-group">
    <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
</div>
<br/>
<div class="input-group">
    <%= f.text_field :year, class: 'form-control', placeholder: 'Year' %>
</div>
<br/>
<div class="input-group">
    <%= f.text_field :rating, class: 'form-control', placeholder: 'Rating' %>
</div>
<br/>
