<!-- sidebar menu-->
<h3>My list</h3>
<hr/>
<h3>Categories</h3>

<ul class="nav nav-pills nav-stacked" id="sidebar-menu" >
    <%= link_to_in_li 'All', Film.all.count , root_path,  id: "all_link" %>
    <%= link_to_in_li 'Anime', Film.all.where(genres: 'anime').count, '/films?category=anime',  id: "anime_link" %>
    <%= link_to_in_li 'Films', Film.all.where(genres: 'film').count, '/films?category=film',  id: "films_link" %>
    <%= link_to_in_li 'Cartoons', Film.all.where(genres: 'cartoon').count, '/films?category=cartoon',  id: "cartoons_link" %>
</ul>

<hr/>

<h3>Tags</h3>

<p>Not realised yet.</p>
<!-- sidebar menu end-->
