<body class="welcome-body">
<div class="container site-wrapper">
  <div class="jumbotron">
    <div class="text-center inner">
      <img src="/assets/logo-big.png"/>
      <!--<h1>Video Depot</h1>-->


      <h1 class="cover-heading">All your video info in one place</h1>

      <br/>

      <p class="lead">Vide Depot is a service to help forget the number of movies or anything else you watched in your
        life,
        with intuitive user interface.
      </p>

      <p class="lead">
        <%= link_to 'Take me in!', { controller: 'films', action: 'index' }, class: 'btn btn-lg btn-default' %>
        <!--<a href="
        <% %>" class="btn btn-lg btn-default">Take me in!</a>-->
      </p>


      <!--<div class="welcome-footer">-->
      <!--<hr>-->
      <!--<p class='text-center' style="color: #fff;">Video Depot <a href="http://getbootstrap.com" style="color: gray;">Maksym Tymoshyk</a>. &copy;2015-->
      <!--</p>-->
      <!--</div>-->
    </div>
  </div>
</div>
</body>