<body class="welcome-body">
<div class="container site-wrapper">
  <div class="jumbotron">
    <div class="text-center inner">
      <h1><img src="/assets/logo.png"/> Video Depot</h1>

      <h1 class="cover-heading">All your video info in one place.</h1>

      <br/>

      <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the
        text,
        and add your own fullscreen background photo to make it your own.</p>

      <p class="lead">
        <%= link_to 'Take me in!', { controller: 'films', action: 'index' }, class: 'btn btn-lg btn-default' %>
        <!--<a href="<% %>" class="btn btn-lg btn-default">Take me in!</a>-->
      </p>


      <div class="welcome-footer">
        <hr>
        <p class='text-center' style="color: #fff;">Video Depot <a href="http://getbootstrap.com" style="color: gray;">Maksym Tymoshyk</a>. &copy;2015
        </p>
      </div>
    </div>
  </div>
</div>
</body>