<%= render partial: 'shared/menu_bar' %>

<div class="container">
  <div class="row">

    <div class="col-md-3">
      <%= render partial: 'shared/side_menu' %>
    </div>

    <div class="col-md-9">
      <div class="row">
        <%= form_tag('/films', method: 'post') do %>
            <h3 align="center">Name of film to add: </h3>

            <div class="input-group">
              <%= text_field_tag('add_field', nil, class: 'form-control', type: 'text', placeholder: 'Type name of film...') %>
              <span class="input-group-btn">
                <button type="submit" class="btn btn-default">Search!</button>
              </span>
            </div>
        <% end %>
      <!--<h1>Form to add new film</h1>-->
      <!--<#%= form_for @film do |f| %>-->
        <!--<#%= render partial: 'shared/form', locals: { f: f } %>-->
        <!--<#%= f.submit 'Add new film', class: 'btn btn-success' %>-->
      <!--<#% end %>-->
      </div>
    </div>

  </div>
</div>
